body {
  font-family: Arial, sans-serif;
  background-color: #ffe5ec;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #c9184a;
}

#malla-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.ano {
  background-color: #fff1e6;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.semestre h3 {
  text-align: center;
  margin-bottom: 10px;
  color: #9d4edd;
}

.course {
  background-color: #ffafcc;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  color: #6a0572;
  transition: 0.2s;
}

.course:hover {
  transform: scale(1.03);
}

.course.aprobado {
  background-color: #cdb4db;
  color: #4b3b61;
  text-decoration: line-through;
}

.course.bloqueado {
  background-color: #bde0fe;
  color: #5e6472;
  opacity: 0.6;
  cursor: not-allowed;
}
